<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://fs09.testin.cn/ctf/2jFFFIYfRkZGSS90ZXN0aW5QcmUvMjAxNi8wOC8yMi8xMS80MjE1MjA1Ny82ZTAzMzhlUVRzTQ==.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://fs09.testin.cn/ctf/2jFFFIYfRkZGSS90ZXN0aW5QcmUvMjAxNi8wOC8yMi8xMS80MjE1MjA1Ny82ZTAzMzhlUVRzTQ==.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://app.gttxkjgs.com/gttx_ios.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yonyou.uap.mobile</string>
				<key>bundle-version</key>
				<string>1.9.8</string>
				<key>kind</key>
				<string>software</string>
				<key>releaseNotes</key>
				<string>1.9.8版本发布</string>
				<key>title</key>
				<string>gwjl.ipa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
